@import "../../../components/GlobalStyles/functions";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e1edf3;
}
.brand {
  text-align: center;
  font-size: rem(100);
  font-weight: 300;
}
.theme-btn {
  position: absolute;
  top: 16px;
  right: 100px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;

  &:hover {
    background-color: #e3c7c7;
  }
}
.background.dark {
  color: var(--layer-color-dark);
  background-color: var(--layer-bg-dark);

  & .theme-btn {
    color: #fff;
  }
  & .theme-btn:hover {
    background-color: #636c8a;
  }
}
