.wrapper {
  flex: 1;
  border-right: 1px solid #e0e0e0;
  box-shadow: 0px 0.3px 0.9px var(--bg-shadow), 0px 1.6px 3.6px var(--bg-shadow);
}
.heading {
  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 24px;
}
.btn-show {
  background-color: transparent;
  cursor: pointer;
}
.navigate {
  display: flex;
  flex-direction: column;
}
.category {
  height: 48px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  &.active {
    background-color: #eff6fc;

    &::before {
      position: absolute;
      content: "";
      background-color: var(--bg-header);
      width: 2px;
      height: 100%;
      left: 0;
      animation: expand 0.25s forwards;
    }
  }
}
