.wrapper {
  height: var(--default-layout-header-height);
  background-color: var(--bg-header);
  display: flex;
  align-items: center;
}
.right {
  height: 100%;
  display: flex;
  align-items: center;
}
.btn-menu {
  width: var(--default-layout-header-height);
  height: var(--default-layout-header-height);
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #005a9e;
  }
}
.brand {
  color: #fff;
  padding: 0 4px;
  width: var(--default-layout-header-height);
  height: var(--default-layout-header-height);
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: underline;
  }
}
.toolbar-search {
  height: 100%;
  flex: 1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 360px;
  height: 32px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-search {
  padding: 0 8px;
  height: 100%;
  background-color: transparent;
}
.input {
  flex: 1;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.right {
}
.btn-action {
  width: var(--default-layout-header-height);
  height: var(--default-layout-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #005a9e;
  }
}
.wrap-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg-header);
  display: flex;
  align-items: center;
  justify-content: center;
}
