@import "../GlobalStyles/functions";

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.heading {
  font-size: var(--font-size);
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item label {
  font-size: rem(13);
}
.form-item input {
  font-size: var(--font-size);
  height: 40px;
  padding-left: 8px;
  border-radius: 4px;
}
.message-error {
  font-size: rem(12);
  color: red;
}
.btn-submit {
  margin-top: 8px;
}
.loading {
  position: absolute;
  bottom: 8px;
  left: 50%;
  font-size: 28px;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
// Theme dark
.dark input {
  color: var(--input-color-dark);
  background-color: var(--input-bg-dark);
}
.dark .btn-submit {
  color: var(--btn-color-dark);
  background-color: var(--btn-bg-dark);
}
