@import "../GlobalStyles/functions";

.wrapper {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: var(--font-size);
}
.form-item {
  display: flex;
  flex-direction: column;
}
.form-item label {
  font-size: rem(13);
}
.form-item input {
  font-size: var(--font-size);
  height: 40px;
  border-radius: 4px;
}
.btn-submit {
  margin-top: 8px;
}
